<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Marketplace</title>
</head>

<body>
    <div class="grid">
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpg" alt product />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Dress shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div>
                            <h1 class="price">$50</h1>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">
            All rights reserved
        </footer>
    </div>
</body>

</html>